<%= form_with model: product, class: "form" do |form| %>
  <% if product.errors.any? %>
    <div class="errors">
      <ul>
        <% product.errors.each do |error| %>
           <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_control">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="form_control">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, rows: 10, cols: 60 %>
  </div>

  <div class="form_control">
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>

  <div class="form_control">
    <%= form.label "Precio", style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div class="form_control">
    <%= form.submit "Guardar", class: "button" %>
  </div>
<% end %>
