<%= link_to product do %>
  <div id="<%= dom_id product %>" class="product">
    <div class="image_container">
      <%= image_tag product.image_url %>
    </div>
    <div class="info_container">
      <p class="title"><%= product.title %></p>
      <p class="description"><%= truncate(strip_tags(product.description), length: 10) %></p>
      <p class="price">S/ <%= sprintf "%.2f", product.price %></p>
    </div>
  </div>
<% end %>
